@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 52 45% 96%;
    --foreground: 133 18% 25%;
    --card: 52 45% 98%;
    --card-foreground: 133 18% 25%;
    --popover: 52 45% 98%;
    --popover-foreground: 133 18% 25%;
    --primary: 134 28% 52%;
    --primary-foreground: 52 45% 98%;
    --secondary: 198 65% 76%;
    --secondary-foreground: 133 18% 20%;
    --muted: 86 34% 86%;
    --muted-foreground: 133 12% 42%;
    --accent: 198 65% 76%;
    --accent-foreground: 133 18% 20%;
    --destructive: 5 73% 55%;
    --destructive-foreground: 52 45% 98%;
    --border: 133 18% 25%;
    --input: 133 18% 25%;
    --ring: 198 65% 54%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
